<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<div class="container-md mb-lg-5" layout:fragment="content">

    <div class="row mt-5 py-3">
        <div class="col-8">
            <h2 class="text-center" th:text="#{page.board}">글 상세</h2>
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-lg"
                    onclick="location.href='edit.html'"
                    th:onclick="|location.href='@{/board/file/{boardId}/edit(boardId=${board.id})}'|"
                    type="button"
                    th:text="#{button.board.update}">
                글 수정
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/board/file}'|"
                    type="button"
                    th:text="#{button.board.list}">
                목록으로
            </button>
        </div>
    </div>

    <div class="container text-center mb-lg-4">
        <div class="row align-items-start mb-3">
            <div class="col-sm-1">
                <label for="boardId" th:text="#{label.board.id}">게시글 ID</label>
                <input type="text" id="boardId" name="boardId" class="form-control bg-secondary-subtle" value="1"
                       th:value="${board.id}" readonly>
            </div>
            <div class="col-sm-2">
                <label for="writer" th:text="#{label.board.writer}">작성자</label>
                <input type="text" id="writer" name="writer" class="form-control bg-secondary-subtle" value="username"
                       th:value="${board.writer.name} + ' (' + '***' + ${board.writer.id.substring(3)} + ')'"
                       readonly>
            </div>
            <div class="col-lg">
                <label for="title" th:text="#{label.board.title}">제목</label>
                <input type="text" id="title" name="title" class="form-control bg-secondary-subtle" value="제목A"
                       th:value="${board.title}" readonly>
            </div>
        </div>
        <div class="row align-items-start mb-3">
            <div class="col-md">
                <label for="createDate" th:text="#{label.board.createDate}">작성일자</label>
                <input type="text" id="createDate" name="boardCreateDate" class="form-control bg-secondary-subtle"
                       value="yyyymmdd" th:value="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}"
                       readonly>
            </div>
            <div class="col-md">
                <label for="updateDate" th:text="#{label.board.updateDate}">수정일자</label>
                <input type="text" id="updateDate" name="boardUpdateDate" class="form-control bg-secondary-subtle"
                       value="yyyymmdd" th:value="${#temporals.format(board.updateDate, 'yyyy년 MM월 dd일 HH시 mm분')}"
                       readonly>
            </div>
        </div>
        <div class="row align-items-start mb-3">
            <div class="col">
                <label th:text="#{label.board.contentFile}">첨부파일</label>
                <a th:if="${board.file}" th:href="|/board/file/attach/${board.id}|"
                   class="form-control bg-secondary-subtle"
                   th:text="${board.getFile().getUploadFileName()}" /><br/>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="container text-center">
        <textarea class="form-control bg-white" th:text="${board.content}" style="min-height: 30rem" disabled></textarea>
    </div>

    <div class="container-md mb-lg-5">

        <!--  Comments Form -->
        <div class="card my-4">
            <h5 class="card-header" th:text="#{page.createComment}">댓글 작성하기 </h5>
            <div class="card-body">
                <form role="form" th:action="@{/board/file/{boardId}/comment/new(boardId=${board.id})}"
                      th:object="${commentCreateDto}" method="post">
                    <textarea class="form-control" th:field="*{content}" rows="3" required></textarea>
                    <div class="form-group d-sm-flex mx-1 mb-1 align-items-center">
                        <button type="submit" class="btn btn-primary mt-2" th:text="#{button.save}">작성</button>
                        <div class="form-check mx-sm-2">
                            <input class="form-check-input" type="checkbox" th:field="*{anonymousYn}">
                            <label class="form-check-label" th:for="*{anonymousYn}">
                                익명
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--    Single Comment -->
        <div class="d-flex align-items-start" th:each="comment : ${board.comments}">
            <div class="flex-shrink-0 border border-dark-subtle rounded-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                     class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
            </div>
            <div class="flex-grow-1 ms-3">
                <form method="post" th:action="@{{boardId}/comment/delete(boardId=${board.id})}">
                    <div class="d-flex mb-0 top-0">
                        <strong class="d-sm-inline-flex mt-0 mb-sm-1 me-2"
                                th:text="${comment.anonymousYn} ? '익명' : ${comment.writer?.name} + ' (' + '***' + ${comment.writer.id.substring(3)} + ')'">Commenter Name</strong>
                        <p class="d-sm-inline-flex text-sm-end text-black-50"
                           th:text="${#temporals.format(comment.createDate, 'yyyy.MM.dd HH:mm')}"></p>
                        <button type="button" class="btn bg-white d-flex" data-bs-toggle="modal"
                                data-bs-target="#editCommentModal"
                                th:onclick="clickEditComment(/*[[${comment?.id}]]*/, /*[[${comment?.content}]]*/ );">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20"
                                 class="bi bi-pencil-square d-sm-inline-flex top-0 mt-0" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>

                        <input type="hidden" name="commentId" th:value="${comment.id}">
                        <button type="submit" class="t btn-close d-sm-inline-flex"></button>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" th:text="${comment.content}" id="floatingTextarea2Disabled" style="height: 100px" disabled></textarea>
                        <label for="floatingTextarea2Disabled">Comments</label>
                    </div>
                </form>
            </div>

            <!--    댓글 수정 모달 폼      -->
            <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <form id="commentEditForm" role="form" th:action="@{{boardId}/comment/edit(boardId=${board.id})}"
                          th:object="${commentUpdateDto}" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editCommentModalLabel" th:text="#{page.editComment}">Edit Comment</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input id="commentId" type="hidden" th:field="*{commentId}">
                                <div class="mb-3">
                                    <label th:for="*{content}" class="col-form-label" th:text="#{label.board.content}">내용:</label>
                                    <textarea class="form-control" th:field="*{content}" th:text="${content}" id="commentText" style="height: 100px" required></textarea>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{button.cancel}">취소</button>
                                <button type="submit" class="btn btn-primary" id="editCommentSubmitBtn" th:text="#{button.save}">저장
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>
    <script th:inline="javascript">
        function clickEditComment(commentId, content) {
            document.getElementById('commentId').setAttribute('value', commentId);
            document.getElementById('commentText').innerHTML = content;
        }
    </script>

</div> <!-- /container -->
</html>