<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<style layout:fragment="css"></style>

<div class="container-md mb-lg-5" layout:fragment="content">

    <div class="py-5 text-center">
        <h2>글 상세</h2>
    </div>

    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div class="container text-center mb-lg-4">
        <div class="row align-items-start mb-3">
            <div class="col-sm-1">
                <label for="boardId">게시글 ID</label>
                <input type="text" id="boardId" name="boardId" class="form-control bg-secondary-subtle" value="1" th:value="${board.id}" readonly>
            </div>
            <div class="col-sm-2">
                <label for="writer">작성자</label>
                <input type="text" id="writer" name="writer" class="form-control bg-secondary-subtle" value="username" th:value="${board.writer}"
                       readonly>
            </div>
            <div class="col-lg">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control bg-secondary-subtle" value="제목A" th:value="${board.title}" readonly>
            </div>
        </div>
        <div class="row align-items-start mb-3">
            <div class="col-md">
                <label for="createDate">작성일자</label>
                <input type="text" id="createDate" name="boardCreateDate" class="form-control bg-secondary-subtle" value="yyyymmdd" th:value="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}" readonly>
            </div>
            <div class="col-md">
                <label for="updateDate">수정일자</label>
                <input type="text" id="updateDate" name="boardUpdateDate" class="form-control bg-secondary-subtle" value="yyyymmdd" th:value="${#temporals.format(board.updateDate, 'yyyy년 MM월 dd일 HH시 mm분')}" readonly>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="container text-center">
        <input type="text" id="content" name="content" class="form-control" value="abc" th:value="${board.content}"
               style="min-height: 30rem" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='edit.html'"
                    th:onclick="|location.href='@{/board/{boardId}/edit(boardId=${board.id})}'|"
                    type="button">글 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/board}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>

</div> <!-- /container -->
</html>