<!--resources/templates/fragments/header.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Notification -->
<div th:fragment="notification" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="messageToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle me-sm-1"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
            <strong class="me-auto">KSSoftware</strong>
            <small>now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div th:each="message : ${messages}" class="toast-body" id="toast-message" th:text="${message}">
        </div>
    </div>
</div>
<!-- Notification -->

<script th:fragment="notification_script" th:inline="javascript">
    window.onload = function () {
        var messages = [[${messages}]];
        if (messages) {
            triggerToast();
        }
    }

    function triggerToast() {
        const toast = document.getElementById('messageToast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast)
        toastBootstrap.show();
    }

</script>

</html>