<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <style layout:fragment="css">
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<div class="container" layout:fragment="content">

    <div class="py-5 text-center">
        <h2 th:text="#{label.login.signUp}">회원 가입</h2>
    </div>

    <form action="/login/signUp"  th:object="${signUp}" method="post">
        <div>
            <label for="Id" th:text="#{label.login.signUp.id}">아이디</label>
            <input type="text" id="Id" th:field="*{id}"
                   th:errorclass="field-error" class="form-control" placeholder="아이디를 입력하세요">
            <div class="field-error" th:if="${!#fields.errors('id').isEmpty()}" th:text="${#fields.errors('id').size()} == 1 ? ${#fields.errors('id').get(0)} : #{NotBlank.id}"/>
        </div>
        <div>
            <label for="password" th:text="#{label.login.signUp.password}">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   th:errorclass="field-error" class="form-control" placeholder="비밀번호를 입력하세요">
            <div class="field-error" th:if="${!#fields.errors('password').isEmpty()}" th:text="${#fields.errors('password').size()} == 1 ? ${#fields.errors('password').get(0)} : #{NotBlank.password}"></div>
        </div>
        <div>
            <label for="name" th:text="#{label.login.signUp.name}">닉네임</label>
            <input type="text" id="name" th:field="*{name}"
                   th:errorclass="field-error" class="form-control" placeholder="닉네임을 입력하세요">
            <div class="field-error" th:if="${!#fields.errors('name').isEmpty()}" th:text="${#fields.errors('name').size()} == 1 ? ${#fields.errors('name').get(0)} : #{NotBlank.name}"/>
        </div>
        <div>
            <label for="studentNumber" th:text="#{label.login.signUp.studentNumber}">학번</label>
            <input type="text" id="studentNumber" th:field="*{studentNumber}"
                   th:errorclass="field-error" class="form-control" placeholder="학번을 입력하세요">
            <div class="field-error" th:errors="*{studentNumber}">학번 오류</div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit"
                th:text="#{button.submit}">등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='index.html'"
                        th:onclick="|location.href='@{/}'|"
                        th:text="#{button.cancel}"
                        type="button">취소
                </button>
            </div>
        </div>
</form>
</div>